.idea/*.pyc.vagrant/requirements_installed.htaccess.DS_Storewkhtmltopdf_installedshared/static/documents/*.*shared/static/forms/*.*.idea/dataSources.local.xml.idea/workspace.xmlemployees/__pycache__/employees/migrations/__pycache__/media/nsi/.DS_Storensi/__pycache__/nsi/settings/__pycache__/security/__pycache__/security/migrations/__pycache__/shared/.DS_Storeshared/__pycache__/shared/migrations/__pycache__/shared/static/.DS_Storeshared/static/datatables-1.10.11/.DS_Storeshared/static/documents/.DS_Storeshared/static/img/.DS_Storeshared/static/img/slides/.DS_Storeshared/static/v2/.DS_Storeshared/static/v2/img/.DS_Storeshared/static/v2/img/backgrounds/.DS_Storeshared/static/v2/img/home/.DS_Storeshared/static/v2/img/slides/.DS_Storeshared/templatetags/__pycache__/static/.DS_Store