{% extends 'base.html' %}

{% load staticfiles %}
{% load html_attributes %}

{% block extra_styles %}
    <link type="text/css" href="{% static 'datatables.css' %}" rel="stylesheet"
		  media="all" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'ckeditor/ckeditor.js' %}" type="text/javascript"></script>
    <script src="{% static 'datatables.min.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#grid_items').dataTable( {
                "dom": '<"top"<"pull-left input-short"f><"pull-right"i><"clear">>rt<"bottom"p<"clear">>',  //placement of the search box to the left
                "paging": true,       //turn off paging so that all results show
                "pageLength": 25,
                "lengthChange": false, //drop-down for pagination
                "searching": true,     //search box
                "info": true,          //showing # of # line
                "orderClasses": false, // removes sorted column styles from being applied
                "order":[[0,'asc']],   //identify the column to sort by default
                "processing": true,    //when waiting for the data to load, show overlay
                "serverSide": false,   //where the table is generated
                "columnDefs":[
                    {"orderable": false, "targets": []}, // columns to exempt when ordering
                    {"searchable": false, "targets": []} // columns to exempt when searching
                ],
                "language": {
                  "emptyTable": "There are no forms.", // message that appears if the table is empty when the pg loads
                  "zeroRecords": "No matching forms.", // message that appears after you search if there are no matches
                  "search": ""  // changes label of search box
                }
            } );
            $('.dataTables_filter input').attr("placeholder", "To filter list, start typing.");

            CKEDITOR.replace( '{{ form.text.auto_id }}' );
        });
    </script>
{% endblock %}


{% block title %}Employee Forms{% endblock %}
{% block content_highlight %}
    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
        <div class="container">
            <div class="header">
                <h2 class="page-title">
                    <span>Employee Forms</span>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="block">
        <div class="row">
            <div class="col-md-4">
                {% for category in categories %}
                    {% if category.get_my_forms %}
                        <h3 class="block-title sub-title">
                            {{ category.category }}
                        </h3>
                        <ul class="list-unstyled shaded-glyph">
                            {% for item in category.get_my_forms %}
                                <li><i class="glyphicon glyphicon-ok text-info"></i>
                                    <a href="{% static 'forms/' %}{{ item.get_document_name }}"
                                        target="_blank">{{ item.title }}</a>
                                    {% if item.text %}
                                        {{ item.text|safe }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}