{% extends 'base.html' %}

{% load staticfiles %}
{% load html_attributes %}

{% block extra_styles %}
    <link type="text/css" href="{% static 'datatables.css' %}" rel="stylesheet"
		  media="all" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'ckeditor/ckeditor.js' %}" type="text/javascript"></script>
    <script src="{% static 'datatables.min.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#grid_items').dataTable( {
                "dom": '<"top"<"pull-left input-short"f><"pull-right"i><"clear">>rt<"bottom"p<"clear">>',  //placement of the search box to the left
                "paging": true,       //turn off paging so that all results show
                "pageLength": 25,
                "lengthChange": false, //drop-down for pagination
                "searching": true,     //search box
                "info": true,          //showing # of # line
                "orderClasses": false, // removes sorted column styles from being applied
                "order":[[0,'asc']],   //identify the column to sort by default
                "processing": true,    //when waiting for the data to load, show overlay
                "serverSide": false,   //where the table is generated
                "columnDefs":[
                    {"orderable": false, "targets": []}, // columns to exempt when ordering
                    {"searchable": false, "targets": []} // columns to exempt when searching
                ],
                "language": {
                  "emptyTable": "There are no task orders.", // message that appears if the table is empty when the pg loads
                  "zeroRecords": "No matching task orders.", // message that appears after you search if there are no matches
                  "search": ""  // changes label of search box
                }
            } );
            $('.dataTables_filter input').attr("placeholder", "To filter list, start typing.");

            CKEDITOR.replace( '{{ form.text.auto_id }}' );
        });
    </script>
{% endblock %}


{% block title %}Task Orders{% endblock %}
{% block content_highlight %}
    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
        <div class="container">
            <div class="header">
                <h2 class="page-title">
                    <span>Task Orders</span>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="block">
        <div class="row">
            <div class="col-md-6">
                <table id="grid_items" class="table table-striped table-hover dataTable">
                    <caption style="display: none"></caption>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Document</th>
                            <th scope="col">Active</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task_order in task_order_items %}
                        <tr>
                            <td>
                                <a href="{% url 'internal:edit_task_order' task_order.task_uuid %}">{{ task_order.task_number }}</a>
                                <small class="media-body">
                                    <ul class="list-inline meta text-muted">
                                      <li>
                                          <i class="glyphicon glyphicon-calendar"></i>
                                          <span class="visible-md-inline visible-lg-inline">Date:</span>
                                          {{ task_order.dt_updated|date:"n/d/Y" }}
                                      </li>
                                      <li>
                                          <i class="glyphicon glyphicon-user"></i>
                                          <span class="visible-md-inline visible-lg-inline">By</span>
                                          <a href="{% url 'security:edit_team_member' task_order.updated_by.user_uuid %}">
                                              {{ task_order.updated_by.get_full_name }}</a>
                                      </li>
                                    </ul>
                                </small>
                            </td>
                            <td>
                                <a href="{% static 'documents/' %}{{ task_order.get_document_name }}" target="_blank">{{ task_order.get_document_name }}</a>
                            </td>
                            <td>{{ task_order.is_active|yesno|title }}</td>
                            <td><a href="{% url 'internal:delete_task_order' task_order.task_uuid %}" title="Delete task order."><i class="fa fa-trash"></i> </a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 sidebar sidebar-right">
                <div class="inner">
                    <div class="block">
                        <h3 class="block-title sub-title">
                            <span>{% if task_uuid %}Edit{% else %}Add{% endif %} a Task Order</span>
                        </h3>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="form-group{% if form.task_number.errors  %} has-error{% endif %}">
                                {% if form.task_number.errors %}
                                    <label class="control-label" for="{{ form.task_number.auto_id }}">
                                        <i class="fa fa-exclamation-triangle"></i> Task Number is required.
                                    </label><br>
                                {% endif %}
                                {{ form.task_number|htmlattributes:"class: form-control, placeholder:Task Number" }}
                            </div>
                            <div class="form-group{% if form.document.errors  %} has-error{% endif %}">
                                {% if form.document.errors %}
                                    <label class="control-label" for="{{ form.document.auto_id }}">
                                        <i class="fa fa-exclamation-triangle"></i> Document is required.
                                    </label><br>
                                {% endif %}
                                {{ form.document }}
                            </div>
                            <div class="form-group{% if form.is_active.errors  %} has-error{% endif %}">
                                <fieldset>
                                    <div class="controls">
                                        <label>Active</label>
                                        {{ form.is_active }}
                                        {% if form.is_active.errors %}
                                            <label class="control-label" for="{{ form.is_active.auto_id }}">
                                                <i class="fa fa-exclamation-triangle"></i> Account status is required.
                                            </label><br>
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'internal:task_orders' %}">Cancel</a>
                            </div>
                            <input type="hidden" name="task_uuid" value="{{ task_uuid }}"/>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}