/*/////////////////////////////////////////////////////////////////////
 //
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 //
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 //
 // ----------------------------------------------------
 //
 // Remove unused code for better performances
 //
 // ----------------------------------------------------
 //
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 //
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 //
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
    min-height: 100px;
    /*position:fixed;*/
    /*left:0px;*/
    /*bottom:0px;*/
    /*width:100%;*/
}
#footer .inner {
  padding: 0px 0;
}
/*
 * --------------------------------------------------
 * 2. Colours
 *--------------------------------------------------
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}
/* Navbar collapse */
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
#navigation .navbar-inner .inner {
    min-height: 90px;
}

ul#main-menu li {
    padding: 0;
    font-size: 12px;
}

#highlighted .home{
    color: black;
    text-shadow: 1px 1px 1px #ffffff;
}

#footer {
  background: #a6a6a6;
  color: black;
  border-top: 1px solid #377ca8;
}

.carousel#carousel-front {
    margin: 0;
    height: 375px;
}
.carousel#carousel-front .item img {
    max-height: 350px;
    width: 585px;
}

.header .page-title {
  margin: 15px 0 8px 0;
}

ul.shaded-glyph li i.glyphicon {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.loginName {
  display: inline-block;
  float: left;
  max-width: 126px;
  overflow: hidden;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pswd_info ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

.valid {
    color: #3a7d34;
}

.invalid {
    color: #89171A;
}

.radio.inline,
.checkbox.inline {
  vertical-align: top;
  white-space: nowrap;
}
