{% extends 'base.html' %}

{% load html_attributes %}

{% block title %}Administrator Sign In{% endblock %}
{% block content_one %}
    <div class="page-header">
        <h1>Administrator Sign In</h1>
        <p class="muted">
			<i class="icon-desktop" title="Browser"></i> <strong>Note</strong>
            {% comment %}<strong>Note</strong>
            It is recommended you complete your reports using a desktop/laptop computer.  
	        The site is not optimized for use on mobile devices.{% endcomment %}
	        <em>A desktop/laptop computer and either
                <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" class="muted">
                    Google Chrome <small><i class="icon-external-link" title="External link."></i></small></a>
                or
                <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank" class="muted">
                    Mozilla Firefox <small><i class="icon-external-link" title="External link."></i></small></a>
                browsers are recommended.
            </em>
	        This site may not function properly on tablets or other mobile devices, or in other browsers.
        </p>
    </div>
    <div class="well well-small signIn">
		<form class="form-horizontal" action="" method="POST" role="form">
{#			<div class="control-group">#}
{#				<div class="controls">#}
{#					<div class="row-fluid">#}
{#                        <div class="span7">#}
{#							<div class="alert alert-info" style="margin-bottom:0;">#}
{#			                    <div class="row-fluid">#}
{#			                        <div class="span1" style="text-align: center;"><i class="icon-exclamation-sign icon-2x" title="Important"></i></div>#}
{#			                        <div class="span11">#}
{#			                            <em>e</em>FD will be offline all day <strong>Wed. January 6, 2016</strong> for scheduled maintenance.#}
{#			                        </div>#}
{#			                    </div>#}
{#			                </div>#}
{#	                    </div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
			<div class="control-group{% if form.email.errors or authentication_error  %} error{% endif %}">
				<label class="control-label" for="id_email">Email</label>
				<div class="controls">
                    {% if form.email.errors %}<span class="help-inline"><i class="icon-warning-sign"></i> Please enter a valid email address.</span><br>{% endif %}
                    {% if authentication_error %}<span class="help-inline"><i class="icon-warning-sign"></i> Your email and/or password are incorrect.</span><br>{% endif %}
                    <input type="text" class="input-xxlarge" name="email" id="id_email" value="{{ form.email.value|default_if_none:'' }}"/>
                </div>
			</div>
			<div class="control-group{% if form.password.errors or authentication_error %} error{% endif %}">
				<label class="control-label" for="id_password">Password</label>
				<div class="controls">
                    {% if form.password.errors %}<span class="help-inline"><i class="icon-warning-sign"></i> Please enter your password.</span><br>{% endif %}
                    <input type="password" class="input-medium" name="password" id="id_password" />
                    <span class="muted">&nbsp;Can't remember your password? <a href="{% url 'reset_password' %}">Request to reset your password</a>.</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
    </div>
{% endblock %}