{% extends 'base.html' %}

{% load html_attributes %}

{% block title %}Create New Password{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function(){
            //Hide Password Match indicator
            $('#match_pswd').hide()

            $('#{{ form.password.auto_id }}').keyup(function() {
                // set password variable
                var pswd = $(this).val();
                var confirm_pswd = $('#{{ form.password_verify.auto_id }}').val();

                $('#match_pswd').show()

                //validate the length
                if ( pswd.length < 10 ) {
                    $('#length').removeClass('valid').addClass('invalid');
                    $('#length i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                    $('#length i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                }

                //validate lower letter
                if (pswd.match(/[a-z]/)) {
                    $('#lower').removeClass('invalid').addClass('valid');
                    $('#lower i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#lower').removeClass('valid').addClass('invalid');
                    $('#lower i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }

                //validate capital letter
                if (pswd.match(/[A-Z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                    $('#capital i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#capital').removeClass('valid').addClass('invalid');
                    $('#capital i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }

                //validate number
                if (pswd.match(/\d+/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                    $('#number i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#number').removeClass('valid').addClass('invalid');
                    $('#number i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }

                //validate symbol
                if (pswd.match(/[\!@#$%^&\*\(\)]/)) {
                    $('#symbol').removeClass('invalid').addClass('valid');
                    $('#symbol i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#symbol').removeClass('valid').addClass('invalid');
                    $('#symbol i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }

                //Passwords Match
                if (pswd == confirm_pswd){
                    $('#match_pswd').removeClass('invalid').addClass('valid');
                    $('#match_pswd i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#match_pswd').removeClass('valid').addClass('invalid');
                    $('#match_pswd i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }
            });

            $('#id_password_verify').keyup(function() {
                // set password variable
                var confirm_pswd = $(this).val();
                var pswd = $('#id_password').val();

                $('#match_pswd').show()

                //Passwords Match
                if (pswd == confirm_pswd){
                     $('#match_pswd').removeClass('invalid').addClass('valid');
                    $('#match_pswd i').removeClass('icon-remove').addClass('icon-ok').attr('title','Meets criteria');
                } else {
                    $('#match_pswd').removeClass('valid').addClass('invalid');
                    $('#match_pswd i').removeClass('icon-ok').addClass('icon-remove').attr('title','Bang does not meet criteria');
                }
            });
        });
    </script>
{% endblock %}

{% block content_one %}
    <div class="page-header">
        <h1>Create New Password</h1>
    </div>

	<div class="well well-small password">
		<div class="row-fluid">
			<div class="span6 pull-right" id="pswd_info">
                Passwords can not contain spaces but must include <strong>at least</strong>:
				<ul>
					<li id="length" class=""><i class=""></i>10 characters</li>
                    <li id="capital" class=""><i class=""></i>1 capital letter</li>
                    <li id="lower" class=""><i class=""></i>1 lowercase letter</li>
                    <li id="number" class=""><i class=""></i>1 number</li>
                    <li id="symbol" class=""><i class=""></i>1 symbol ! @ # $ % ^ & * ( )</li>
				</ul>
			</div>
			<div class="span6">
				<br>
				<form class="form-horizontal" action="" method="POST" role="form">
					<div class="control-group{% if form.password.errors or used_temp_password_error or password_error %} error{% endif %}">
						<label class="control-label" for="{{ form.password.auto_id }}">Password</label>
						<div class="controls">
							{% if form.password.errors %}<span class="help-inline"><i class="icon-warning-sign"></i> Password is required.</span><br>{% endif %}
							{% if used_temp_password_error %}<span class="help-inline"><i class="icon-warning-sign"></i> You password cannot be the temporary password.</span><br>{% endif %}
							{{ form.password|htmlattributes:"class:input-large,  placeholder:Enter new password." }}
						</div>
					</div>
					<div class="control-group noPrint{% if form.password_verify.errors or password_error or used_temp_password_error%} error{% endif %}">
						<label class="control-label" for="{{ form.password_verify.auto_id }}">Password confirmation</label>
						<div class="controls">
							{% if password_error %}<span class="help-inline"><i class="icon-warning-sign"></i> Passwords do not match. Try again.</span><br>{% endif %}
							{{ form.password_verify|htmlattributes:"class:input-large,  placeholder:Enter password again." }}
                            <span id="match_pswd" class=""><br/><i class=""></i> Passwords match</span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Reset Password</button>
						</div>
					</div>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}