{% extends 'base.html' %}

{% load html_attributes %}

{% block title %}Create New Password{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function(){
            //Hide Password Match indicator
            $('#match_pswd').hide();

            $('#{{ form.password.auto_id }}').keyup(function() {
                // set password variable
                var pswd = $(this).val();
                var confirm_pswd = $('#{{ form.password_verify.auto_id }}').val();


                $('#match_pswd').show();

                //validate the length
                if ( pswd.length < 10 ) {
                    $('#length').removeClass('valid').addClass('invalid');
                    $('#length i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                    $('#length i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                }

                //validate lower letter
                if (pswd.match(/[a-z]/)) {
                    $('#lower').removeClass('invalid').addClass('valid');
                    $('#lower i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#lower').removeClass('valid').addClass('invalid');
                    $('#lower i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }

                //validate capital letter
                if (pswd.match(/[A-Z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                    $('#capital i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#capital').removeClass('valid').addClass('invalid');
                    $('#capital i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }

                //validate number
                if (pswd.match(/\d+/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                    $('#number i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#number').removeClass('valid').addClass('invalid');
                    $('#number i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }

                //validate symbol
                if (pswd.match(/[\!@#$%^&\*\(\)]/)) {
                    $('#symbol').removeClass('invalid').addClass('valid');
                    $('#symbol i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#symbol').removeClass('valid').addClass('invalid');
                    $('#symbol i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }

                //Passwords Match
                if (pswd == confirm_pswd){
                    $('#match_pswd').removeClass('invalid').addClass('valid');
                    $('#match_pswd i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#match_pswd').removeClass('valid').addClass('invalid');
                    $('#match_pswd i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }
            });

            $('#id_password_verify').keyup(function() {
                // set password variable
                var confirm_pswd = $(this).val();
                var pswd = $('#id_password').val();

                $('#match_pswd').show()

                //Passwords Match
                if (pswd == confirm_pswd){
                     $('#match_pswd').removeClass('invalid').addClass('valid');
                    $('#match_pswd i').removeClass('fa-remove').addClass('fa-check').attr('title','Meets criteria');
                } else {
                    $('#match_pswd').removeClass('valid').addClass('invalid');
                    $('#match_pswd i').removeClass('fa-check').addClass('fa-remove').attr('title','Bang does not meet criteria');
                }
            });
        });
    </script>
{% endblock %}
{% block content_highlight %}
    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
        <div class="container">
            <div class="header">
                <h2 class="page-title">
                    <span>Create New Password</span>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="block">
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST" role="form">
                    <div class="form-group{% if form.password.errors or used_temp_password_error or password_error %} has-error{% endif %}">
                        {% if form.email.errors %}
                            <label class="control-label" for="id_password">
                                <i class="fa fa-exclamation-triangle"></i> Password is required.
                            </label><br>
                        {% endif %}
                        {% if used_temp_password_error %}
                            <label class="control-label">
                                <i class="icon-warning-sign"></i> You password cannot be the temporary password.
                            </label><br/>
                        {% endif %}

                        {{ form.password|htmlattributes:"placeholder:Enter new password." }}
                    </div>
                    <div class="form-group noPrint{% if form.password_verify.errors or password_error or used_temp_password_error%} has-error{% endif %}">
                        {% if password_error %}
                            <label class="control-label" for="id_password">
                                <i class="fa fa-exclamation-triangle"></i> <i class="icon-warning-sign"></i> Passwords do not match. Try again.
                            </label><br>
                        {% endif %}
                        {{ form.password_verify|htmlattributes:"placeholder:Enter password again." }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-md-6" id="pswd_info">
                Passwords can not contain spaces but must include <strong>at least</strong>:
                <ul>
                    <li id="length" class=""><i class="fa"></i>10 characters</li>
                    <li id="capital" class=""><i class="fa"></i>1 capital letter</li>
                    <li id="lower" class=""><i class="fa"></i>1 lowercase letter</li>
                    <li id="number" class=""><i class="fa"></i>1 number</li>
                    <li id="symbol" class=""><i class="fa"></i>1 symbol ! @ # $ % ^ & * ( )</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}