{% extends 'base.html' %}

{% load html_attributes %}

{% block title %}Administrator Sign In{% endblock %}
{% block content %}
    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
        <div class="container">
            <div class="header">
                <h2 class="page-title">
                    <span>Team Member Login</span>
                </h2>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="block">
                <div class="row">
                    <div class="col-md-4starting ">
                        <form action="" method="POST">
                            <div class="form-group{% if form.email.errors or authentication_error  %} error{% endif %}">
                                {% if form.email.errors %}
                                    <span class="help-inline"><
                                        i class="icon-warning-sign"></i> Please enter a valid email address.
                                    </span><br>
                                {% endif %}
                                {% if authentication_error %}
                                    <span class="help-inline">
                                        <i class="icon-warning-sign"></i> Your email and/or password are incorrect.
                                    </span>
                                    <br>
                                {% endif %}
                                <input type="text" class="form-control" name="email" id="id_email"
                                       placeholder="Email" value="{{ form.email.value|default_if_none:'' }}"/>
                            </div>

                            <div class="form-group{% if form.password.errors or authentication_error %} error{% endif %}">
                                {% if form.password.errors %}
                                    <span class="help-inline">
                                        <i class="icon-warning-sign"></i> Please enter your password.
                                    </span>
                                    <br>
                                {% endif %}
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                       id="id_password" />
                                <span class="muted">&nbsp;Can't remember your password? <a
                                        href="{% url 'security:reset_password' %}">Request to reset your password</a>.
                                </span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}