{% extends 'base.html' %}

{% load html_attributes %}

{% block title %}Reset Password{% endblock %}
{% block content_one %}
    <div class="page-header">
        <h1>Reset Password</h1>
		<p class="lead">A link will be sent to you to reset your password. You have {{ temp_expire }} hours to reset it.</p>
    </div>
    <div class="well well-small password">
		<form class="form-horizontal" action="" method="POST" role="form">
			<div class="control-group {% if form.email.errors %} error{% endif %}">
				<label class="control-label" for="{{ form.email.auto_id }}">Primary or alternate email</label>
				<div class="controls">
                    {% if form.email.errors %}<span class="help-inline"><i class="icon-warning-sign"></i> Please enter a valid email address.</span><br>{% endif %}
					<input type="text" class="input-xxlarge" name="email" id="{{ form.email.auto_id }}" value="{{ form.email.value|default_if_none:'' }}"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
    </div>
{% endblock %}